@import 'src/shared/styles/colors.scss';

.header {
  box-shadow        : 0px 2px 2px 0px $header-divisor;
  padding           : 9px 8px 9px 20px;
  display           : flex;
  flex-direction    : column;

  h4 {
    font-size       : 18px;
    color           : $primary-text;
    margin          : 0;
  }

  h6 {
    margin          : 0;
    font-size       : 13px;
    color           : $secondary-text;
    font-weight     : 400;
    padding         : 0px;
  }
}
