<div class="display">

  <app-sidebar
    [name]="name"
    [color]="color"
    [hasSended]="hasSended"
    (suffleColor)="getColor()"
    (nameHasChanged)="name = $event"
  >
  </app-sidebar>

  <div [class]="'container'">

    <app-header
      [title]="'chaterson'"
      [subtitle]="'Esse é um canal para conversar sobre as coisas'"
    >
    </app-header>

    <app-conversations [conversations]="conversations">
    </app-conversations>

    <input
      type="text"
      class="message"
      [(ngModel)]="message"
      placeholder="Sua mensagem aqui..."
      [disabled]="!name"
      (keyup.enter)="send()"
    />
  </div>
</div>
