<div class="display">
  <app-sidebar
    [name]="name"
    [color]="cor"
    [hasSended]="foiEnviado"
    (suffleColor)="getColor()"
    (nameHasChanged)="name = $event"
  >
  </app-sidebar>

  <div [class]="'container'">
    <div class="header">
      <h4>
        #chatson
      </h4>
      <h6>
        Esse é um canal para conversar sobre as coisas
      </h6>
    </div>

    <div class="messages-container">
      <div *ngFor="let conversa of conversas" class="conversation">
        <div [class]="'image'" [style.background]="conversa.color">
          {{ conversa.name[0] }}
        </div>

        <div>

          <div class="flex">
            <h5>
              {{ conversa.name }}sson
            </h5>
            <h6 class="hour">
              {{ conversa.hour }}
            </h6>
          </div>

          <h6>
            {{ conversa.message }}
          </h6>
        </div>
      </div>
    </div>

    <input
      type="text"
      class="message"
      [(ngModel)]="mensagem"
      placeholder="Sua mensagem aqui..."
      [disabled]="!name"
      (keyup.enter)="enviar()"
    />
  </div>
</div>
