<app-name-getter *ngIf="!(user.userHasChanged() | async).name"></app-name-getter>

<div
  *ngIf="(user.userHasChanged() | async).name"
  class="display">

  <app-sidebar [hasSended]="hasSended">
  </app-sidebar>

  <div [class]="'container'">

    <app-header
      [title]="'chaterson'"
      [subtitle]="'Esse é um canal para conversar sobre as coisas'"
    >
    </app-header>

    <app-conversations [conversations]="conversations">
    </app-conversations>

    <app-user-connected></app-user-connected>

    <h4 *ngIf="(typing.asObservable() | async)">
      {{ (typing.asObservable() | async) ? (typing.asObservable() | async) : 'Não está mais! 😀' }}
    </h4>
    <input
      type="text"
      class="message"
      [formControl]="message"
      placeholder="Sua mensagem aqui..."
      (keyup.enter)="send()"
    />
  </div>
</div>
