@import url("https://fonts.googleapis.com/css?family=Mansalva&display=swap");

.sidebar {
  width: 220px;
  background: #4b154c;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  .name {
    display: flex;
    align-items: center;
    flex-direction: column;

    .image {
      width: 120px;
      height: 120px;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 60px;
      color: #fff;
      text-transform: capitalize;
      box-shadow: 0px 2px 7px 1px #7E2480;
    }

    h3 {
      color: #ecb22e;
      margin: 20px 0px;
      text-align: center;
      font-family: "Mansalva", cursive;
      font-size: 22px;
    }

  }

  h2 {
    color: #fff;
    font-family: "Mansalva", cursive;
    b {
      color: #ecb22e;
    }
  }

  .preview {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h6 {
      color: #fff;
    }

    .color-preview {
      height: 24px;
      width: 24px;
      margin: 0px 0px 0px 10px;
      cursor: pointer;
    }
  }
}

select {
  border: none;
  color: #ecb22e;
  background: #4b154c;
}
