<!-- Sidebar -->
<div class="sidebar">
  <h2><b>#</b> Eslequerson</h2>

  <!-- Seleção do nome do usuário e imagem -->
  <div class="name">

    <!-- Imagem -->
    <div
      *ngIf="(user.userHasChanged() | async)?.name"
      [class]="'image'"
      [style.background]="(user.userHasChanged() | async)?.color"
    >
      {{ (user.userHasChanged() | async)?.name[0] }}
    </div>
    <!-- ! Imagem -->

    <h3>
      {{ (user.userHasChanged() | async)?.name }}
    </h3>

    <select
      *ngIf="(user.userHasChanged() | async)?.name"
      [ngModel]="status"
      (ngModelChange)="changeStatus($event)"
    >
      <option value="off">
        Offline
      </option>
      <option value="on">
        Online
      </option>
    </select>
  </div>
  <!-- ! Seleção do nome do usuário e imagem -->

</div>
<!-- ! Sidebar -->
