<!-- Sidebar -->
<div class="sidebar">
  <h2><b>#</b> Eslequerson</h2>

  <!-- Seleção do nome do usuário e imagem -->
  <div class="name">

    <!-- Imagem -->
    <div
      *ngIf="name"
      [class]="'image'"
      [style.background]="color"
    >
      {{ name[0] }}
    </div>
    <!-- ! Imagem -->

    <input
      [type]="'text'"
      [(ngModel)]="name"
      (ngModelChange)="nameHasChanged.emit($event)"
      [placeholder]="'Informe seu nome!'"
      [disabled]="hasSended"
    />

    <select
      *ngIf="name"
      [ngModel]="status"
      (ngModelChange)="changeStatus($event)"
    >
      <option value="off">
        Offline
      </option>
      <option value="on">
        Online
      </option>
    </select>
  </div>
  <!-- ! Seleção do nome do usuário e imagem -->

</div>
<!-- ! Sidebar -->
