.online {
  position: absolute;
  bottom: 10px;
  background: #4b154c;
  width: 150px;
  padding: 20px;
  right: 10px;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background: #3f1240;
  }

  &:not(.first) {
    animation: online 0.2s;
  }

  h5 {
    margin: 0;
    color: #ecb22e;
  }

  h6 {
    margin: 0;
    color: #fff;
    font-weight: 400;
  }

  @keyframes online {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
